/**
Section #1 Style
*/

.section-one {
    display: flex;
    flex-direction: column;
    width: 100%;
    /*background-color: mediumspringgreen;*/
}

.athlete-img {
    position: absolute;
    left: 50%;
    margin-left: -566px;
    width: 566px;
    /*width: 50%;*/
    height: 908px;
    background: url("../images/footballer_566.png") no-repeat;
    background-size: contain;
    margin-top: 27px;
    z-index: 2;
}

.athlete-list-item,
.athlete-heading {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-stretch: normal;
    text-align: left;

    display: flex;
    flex-direction: column;

    padding-left: 53%;
}

.athlete-heading {
    font-size: 80px;
    font-weight: bold;
    line-height: 0.75;
    letter-spacing: normal;
    text-transform: uppercase;
    color: #e7e7e7;
}

.athlete-list-item dl {
    /*width: 100%;*/
    width: 95%;
    max-width: 700px;
}

.athlete-list {
    counter-reset: athlete-list-counter;
}

.athlete-list-item dt {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
    line-height: 2;
    letter-spacing: 2px;
    text-align: left;
    color: #c1c1c1;
    counter-increment: athlete-list-counter;
}

.athlete-list-item dt:before {
    content: "0" counter(athlete-list-counter);
    color: black;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1px;
    text-align: center;
    border-bottom: 5px solid;
    border-radius: 2px;
    border-color: #5e42b0;
    margin: 0 10px 0 0;
    vertical-align: 25%;
}

.athlete-list-item.invert-color dt:before {
    border-color: #efefef;
}

.athlete-list-item dd {
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 1px;
    color: black;
}

.athlete-list-item.invert-color dd {
    color: white;
}

/* Media Queries for Section #1 Style  */

/* surface_768.psd */
@media (min-width: 768px) and (max-width: 960px) {
    .athlete-img {
        background: url("../images/footballer_497.png") no-repeat;
        margin-top: 94px;
        left: 44%;
        margin-left: -540px;
    }

    .athlete-list-item,
    .athlete-heading {
        padding-left: 35%;
    }

    .athlete-list-item dl {
        width: 90%;
        max-width: 520px;
    }

    .athlete-list-item dt {
        font-size: 32px;
        line-height: 2.5;
    }

    .athlete-list-item dd {
        font-size: 16px;
        line-height: 1.75;
        letter-spacing: 1px;
        color: black;
    }

}

/* surface_320.psd */
@media (max-width: 767px) {
    .athlete-img {
        background: url("../images/footballer_192.png") no-repeat center top;

        left: unset;
        margin-left: unset;
        width: 100%;
        height: 281px;
        background-size: contain;
        margin-top: 80px;
        z-index: 2;
    }

    .athlete-heading {
        font-size: 50px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.2;
    }

    .athlete-list-item,
    .athlete-heading {
        padding-left: 20px;
    }

    .athlete-list-item dl {
        width: 98%;
        max-width: 98%;
    }

    .athlete-list-item dt {
        font-size: 23px;
        line-height: 2;
    }

    .athlete-list-item dt:before {
        font-size: 14px;
        border-bottom: 4px solid;
        border-color: #5e42b0;
    }

    .athlete-list-item dd {
        font-size: 15px;
        line-height: 1.2;
    }

}
